/*  making the design responsive for mobil */

@media only screen and (max-width: 380px) {

    /* navigation bar */
    .nav{
        display: none;
    }
    
    .logo-name h2{
        margin: 20px;
    }


    /*  main section  */ 

    #hi{
        font-size: 20px;
    }

    #name{
        font-size: 30px;
        margin-top: 95px;
    }
    
    #data-analyst{
        font-size: 11px;
        margin-top: 140px;
    }
    
    .resume-btn{
        display: none;
    }
    
    .social-links{
        display: none;
    }

    .about h2{
        font-size: 25px;
        margin-top: 50px;
    }

    .about-me p{
        font-size: 15px;
        margin-left: 20px;
        margin-right: 20px;
        line-height: 2;
    }


    /* skills section  */
    .skills h1{
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 90px;
    }

    .skills img{
        width: 350px;
        margin-left: 10px;
    }


    /* certificates  */

    .certificate h1{
        font-size: 30px;
        margin-top: 80px;
    }

    /* projects */ 

    .projects h2{
        font-size: 30px;
        margin-top: 80px;
    }

    .grid{
        width: 80px;
    }
    
    .grid-item{
        width: 330px;
    }

    /* resume  */

    .resume h2{
        font-size: 50px;
    }

    .resume-pic img{
        width: 300px;
    }

    /* footer */

    .fotter h3{
        margin-top: 100px;
        font-size: 30px;
    }

    .get-touch img{
        width: 30px;
        margin: 5px;

    }

    .end img{
        width: 150px;
        margin-left: 120px;
        margin-top: 50px;
    }

    .end h1{
        margin-left: 20px;
    }










}